body {
    background-color: #1a1a1a;
    position: relative; 
    
    color: #e0e0e0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

body::before {
    content: '';
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background-image: url('/img/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;

    opacity: 0.3; 

    z-index: -1;
}

main {
    text-align: center;
}

.timers {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 30px 0;
}

.timer-box h2 {
    font-size: 1.2em;
    color: #aaa;
}

.timer-box p {
    font-size: 2.5em;
    font-weight: bold;
    margin: 5px 0;
}

button {
    padding: 15px 30px;
    font-size: 1.2em;
    cursor: pointer;
    border: 2px solid #555;
    background-color: #333;
    color: #e0e0e0;
    margin: 0 10px;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #444;
}

button.raid-active {
    background-color: #8a0e0e;
    border-color: #b82c2c;
}

/* Estilos para os novos elementos */

.hidden {
    display: none;
}

#log-raid-container, .history-container {
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;

    padding: 15px;
    border: 1px solid #444;
    border-radius: 5px;
    width: 100%;
    max-width: 400px; /* Impede que fique demasiado largo em ecrãs grandes */
}

.form-line {
    margin-bottom: 10px;
}

#log-raid-container textarea, #log-raid-container select {
    width: 100%;
    padding: 5px;
    background-color: #333;
    color: #e0e0e0;
    border: 1px solid #555;
}

#save-raid-btn {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    margin: auto;
}


#history-raids-list {
    list-style: none;
    padding: 0;
}

#history-raids-list li {
    padding: 10px;
    margin-bottom: 10px;
    border-left-width: 5px;
    border-left-style: solid;
}

#history-raids-list li p {
    margin: 5px 0 0 0;
    font-size: 0.9em;
    color: #ccc;
}

li.survived {
    background-color: rgba(40, 167, 69, 0.1);
    border-left-color: #28a745;
}

li.dead {
    background-color: rgba(220, 53, 69, 0.1);
    border-left-color: #dc3545;
}

.report-container {
    margin-top: 25px;
    padding: 15px;
    border: 1px solid #444;
    border-radius: 5px;
    width: 100%;
    max-width: 400px;
    
    margin-left: auto;
    margin-right: auto;
}

.stats-grid {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 10px;
}

.stat-item {
    display: flex;
    flex-direction: column;
}

.stat-item label {
    font-size: 0.8em;
    color: #aaa;
    margin-bottom: 5px;
}

.stat-item strong {
    font-size: 1.4em;
    color: #e0e0e0;
}